# Set up

In [1]:
%reload_ext sql
%config SqlMagic.autocommit=False
%config SqlMagic.autolimit=0
%config SqlMagic.autopandas=True
%config SqlMagic.displaylimit=200

In [2]:
%sql trino://localhost:9090/cuebiq/

'Connected: @cuebiq/'

In [3]:
import time
import pandas as pd
from sqlalchemy import create_engine
from trino.dbapi import connect
from datetime import datetime, timedelta

# Schemas 
Here we created 3 schema:  
1. presence_data: mainly for test purpose 
2. pop_density: keep aggregated population density data from device location 
3. od_matrix: aggregated OD matrix from trajectory dataset, only cell has more than 10 unique user from dl have been selected here.

In [17]:
%%sql
show schemas from dedicated

 * trino://localhost:9090/cuebiq/
Done.

                  Schema
0         censustocensus
1           dataflowtest
2                default
3     information_schema
4              od_matrix
5            od_matrix20
6            pop_density
7          pop_density20
8          presence_data
9   statetostatematrices
10       temporaryoutput

In [5]:
from sqlalchemy.engine import create_engine
output_schema_name = 'presence_data'
# output_schema_name = 'pop_density'
# output_schema_name = 'od_matrix'
# output_schema_name = "20OD_matrix"

con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

In [6]:
%%sql
show tables from dedicated.pop_density

 * trino://localhost:9090/cuebiq/
Done.

                   Table
0    pd_co_20191004_agg3
1    pd_co_20191004_agg5
2    pd_co_20191005_agg3
3    pd_co_20191005_agg5
4    pd_co_20191006_agg3
..                   ...
846  pd_in_20190328_agg3
847  pd_in_20190329_agg3
848  pd_in_20190330_agg3
849  pd_in_20190331_agg3
850  pd_in_20190401_agg3

[851 rows x 1 columns]

In [5]:
%%sql
show tables from dedicated.od_matrix

 * trino://localhost:9090/cuebiq/
Done.

                   Table
0    od_id_20190101_agg3
1    od_id_20190101_agg5
2    od_id_20190102_agg3
3    od_id_20190102_agg5
4    od_id_20190103_agg3
..                   ...
659  od_id_20191227_agg3
660  od_id_20191228_agg3
661  od_id_20191229_agg3
662  od_id_20191230_agg3
663  od_id_20191231_agg3

[664 rows x 1 columns]

In [10]:
%%sql
show tables from dedicated.presence_data

 * trino://localhost:9090/cuebiq/
Done.

                   Table
0    od_id_20190101_agg3
1    od_id_20190101_agg5
2    od_id_20190102_agg3
3    od_id_20190102_agg5
4    od_id_20190103_agg3
..                   ...
429  pd_id_20190729_agg5
430  pd_id_20190730_agg3
431  pd_id_20190730_agg5
432  pd_id_20190731_agg5
433  pd_in_20190101_agg5

[434 rows x 1 columns]

## Create schema

In [14]:
output_schema_name = 'OD_matrix20'

In [15]:
%sql create schema if not exists dedicated.$output_schema_name

 * trino://localhost:9090/cuebiq/
Done.

Empty DataFrame
Columns: []
Index: []

## Create table

In [ ]:
# output_schema_name = 'presence_data'
# table_name = f"dedicated.{output_schema_name}.new_table_demo"

In [ ]:
# %sql create table if not exists $table_name (col_0 varchar, col_1 bigint, col_2 varchar)

In [10]:
# %sql show tables from dedicated.presence_data

## Delete table

In [5]:
# %%sql
# DROP TABLE IF EXISTS dedicated.pop_density.pd_in_20190401_agg3

# # pop_density presence_data

 * trino://localhost:9090/cuebiq/

NameError: name 'DatabaseError' is not defined

## Rename table

In [89]:
# Rename the table to the final name based on date and country code

output_schema_name = 'od_matrix'
con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

rename_table_query = f"""
ALTER TABLE "od_id_20190301_test_agg5" RENAME TO "od_id_20190301_agg5"
"""

# Execute the rename table query
with con.connect() as connection:
    connection.execute(rename_table_query)

OperationalError: (trino.exceptions.TrinoExternalError) TrinoExternalError(type=EXTERNAL, name=HIVE_METASTORE_ERROR, message="New location for this table hive.od_matrix.od_id_20190301_agg5 already exists : s3a://cuebiq-paas-org-1872-kr7pteibwb/metastore/od_matrix.db/od_id_20190301_agg5", query_id=20240606_145713_00482_44guw)
[SQL:
ALTER TABLE "od_id_20190301_test_agg5" RENAME TO "od_id_20190301_agg5"
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Check table

In [6]:
# check
q2 = f"select * from dedicated.presence_data.pd_id_20191010_agg5"

%sql $q2

 * trino://localhost:9090/cuebiq/
Done.

     geohash5  no_of_points  no_of_unique_users local_date
0       qpxck           254                  13   20191010
1       qpxze           414                  15   20191010
2       qpz2x           277                  12   20191010
3       qpz3u           285                  11   20191010
4       qpz67           202                  16   20191010
...       ...           ...                 ...        ...
6353    wb718           277                  29   20191010
6354    wb71b          1161                  39   20191010
6355    wb71c            76                  14   20191010
6356    wb75x           766                  15   20191010
6357    wb9hx           349                  20   20191010

[6358 rows x 4 columns]

In [59]:
# check
q2 = f"select * from dedicated.od_matrix.od_id_20191201_agg5"
%sql $q2

 * trino://localhost:9090/cuebiq/
Done.

,start_geohash5,start_geohash_user,end_geohash5,end_geohash_user,trip_count,m_duration_min,mdn_duration_min,sd_duration_min,m_length_m,mdn_length_m,sd_length_m,partition_key
0,qquhd,624,qquhc,338,1,34.916667,34.916667,NaN,5985.888110,5985.888110,NaN,2
1,qpz6e,112,qpz6s,110,3,67.688889,20.366667,88.746032,5333.162268,2213.454312,5540.358407,1
2,qquhd,624,qquhh,225,1,48.633333,48.633333,NaN,9015.373990,9015.373990,NaN,2
3,qquhe,308,qqgfx,344,1,412.033333,412.033333,NaN,85335.151674,85335.151674,NaN,2
4,qpz6e,112,qpz7h,25,1,63.683333,63.683333,NaN,10456.547356,10456.547356,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11382,qqv8b,59,qqu5y,237,1,279.466667,279.466667,NaN,241126.963263,241126.963263,NaN,2
11383,qqv8b,59,qqv89,13,1,78.700000,78.700000,NaN,7252.606590,7252.606590,NaN,2
11384,qqv8b,59,qqv8f,53,1,65.216667,65.216667,NaN,16142.907033,16142.907033,NaN,2
11385,qqv8c,90,qqv89,13,2,47.950000,47.950000,26.045100,4747.346858,4747.346858,5.298429,2
11386,qqv8e,82,qqv8f,53,1,20.066667,20.066667,NaN,2283.556666,2283.556666,NaN,2

In [46]:
# check
q1 = f"select * from dedicated.pop_density.pd_in_20191211_agg3"
%sql $q1

 * trino://localhost:9090/cuebiq/
Done.

    geohash3  no_of_points  no_of_unique_users local_date
0        tc8          6047                 107   20191211
1        tcb         43174                 912   20191211
2        tf0         53996                1167   20191211
3        tf2        123131                3050   20191211
4        tf8         32013                 702   20191211
..       ...           ...                 ...        ...
184      tgy         98870                2448   20191211
185      tun        330090                6754   20191211
186      tuq         44921                 878   20191211
187      tuw         37723                 818   20191211
188      tuy         21395                 557   20191211

[189 rows x 4 columns]

Check duplicates

In [47]:
# SQL engine
from trino.dbapi import connect 
from sqlalchemy import create_engine
import time

class TrinoEngine():
    def __init__(self):
        conn = connect(
            host="localhost",
            port=9090,
            catalog="cuebiq"
        )
        self.cur = conn.cursor()
        self.engine = create_engine("trino://localhost:9090/cuebiq/")
    
    def execute_statement(self, query:str) -> list:
        """
        Create and drop statements.
        """
        self.cur.execute(query)
        return self.cur.fetchall()
    
    def read_sql(self, query:str) -> pd.DataFrame: 
        """
        Select and insert into operations.
        """
        return pd.read_sql(query, self.engine)

sql_engine = TrinoEngine()

In [55]:
# Construct the SQL query
query = f"""
SELECT *
FROM dedicated.pop_density.pd_in_20191022_agg3
"""
# od_matrix pop_density
pe_dl_table_gen = sql_engine.read_sql(query)
pe_dl_table_gen

    geohash3  no_of_points  no_of_unique_users local_date
0        t9r         16585                 385   20191022
1        t9x         60030                1272   20191022
2        t9z        126004                2806   20191022
3        tdp         95821                2006   20191022
4        tdr        752897               15506   20191022
..       ...           ...                 ...        ...
158      tef        109022                2158   20191022
159      ts4         34072                 673   20191022
160      ts6          3758                 102   20191022
161      tsd          6529                 154   20191022
162      tsf          5716                 116   20191022

[163 rows x 4 columns]

In [49]:
# pe_dl_table_gen1 = pe_dl_table_gen.drop(columns=['partition_key'])
pe_dl_table_gen1 = pe_dl_table_gen
pe_dl_table_gen1

    geohash3  no_of_points  no_of_unique_users local_date
0        t9r          8796                 220   20191211
1        t9x         34282                 719   20191211
2        t9z         76276                1672   20191211
3        tdp         56108                1199   20191211
4        tdr        424995                9437   20191211
..       ...           ...                 ...        ...
184      tt5          1096                  36   20191211
185      tuh         48447                 892   20191211
186      tuk         35519                 717   20191211
187      tus        104677                1895   20191211
188      tuu          7032                 146   20191211

[189 rows x 4 columns]

In [50]:
df_no_duplicates = pe_dl_table_gen1.drop_duplicates()
# df_no_duplicates.sort_values('no_of_unique_users')
len(df_no_duplicates)

173

In [51]:
df_no_duplicates

    geohash3  no_of_points  no_of_unique_users local_date
0        t9r          8796                 220   20191211
1        t9x         34282                 719   20191211
2        t9z         76276                1672   20191211
3        tdp         56108                1199   20191211
4        tdr        424995                9437   20191211
..       ...           ...                 ...        ...
184      tt5          1096                  36   20191211
185      tuh         48447                 892   20191211
186      tuk         35519                 717   20191211
187      tus        104677                1895   20191211
188      tuu          7032                 146   20191211

[173 rows x 4 columns]

In [26]:
pe_dl_table_gen['geohash3'].nunique()

175

In [30]:
unique_values_count = pe_dl_table_gen["geohash3"].unique()
# unique_values_count = pe_dl_table_gen["geohash3"].nunique()
unique_values_count

array(['tgz', 'tup', 'tur', 'tux', 'tuz', 'w41', 'w44', 'w5f', 'wh0',
       'wh1', 'wh2', 'wh3', 'wh4', 'wh6', 'wh7', 'wh8', 'wh9', 'whb',
       'whc', 'whd', 'whe', 'whf', 'whg', 'whu', 'wjh', 'te5', 'te7',
       'tee', 'teg', 'ts5', 'ts7', 'tse', 'tsg', 'tt5', 'ts0', 'tgt',
       'tgv', 'tuj', 'tum', 'tut', 'tdk', 'tds', 'tdu', 'teh', 'tek',
       'tes', 'teu', 'tsh', 'tsk', 'tss', 'tsu', 'tth', 'ttk', 't9q',
       't9w', 't9y', 'tdn', 'tdq', 'tdw', 'tdy', 'ten', 'teq', 'tew',
       'tey', 'tsn', 'tsq', 'tsw', 'tsy', 'ttn', 'ttq', 'ttw', 'tty',
       't9v', 'tdj', 'tdm', 'tdt', 'tdv', 'tej', 'tem', 'tet', 'tev',
       'tsj', 'tsm', 'tst', 'tsv', 'ttj', 'ttm', 'ttt', 'ttv', 'ted',
       'tef', 'ts4', 'ts6', 'tsd', 'tsf', 'tc8', 'tg5', 'tg7', 'tge',
       'tcb', 'tf0', 'tgg', 'tu5', 'tu7', 'tue', 'tf2', 'tf8', 'tfb',
       'tg0', 'tug', 'tg2', 'tg8', 'tgb', 'tu0', 'tu2', 'tu8', 'tub',
       'tv0', 'tv2', 'te9', 'tec', 'ts1', 'tgk', 'tgs', 'tgu', 'tuh',
       'tuk', 'tus', 'tuu', 'tgy', 'tun', 'tuq', 'tuw', 'tuy', 'tff',
       'tg4', 'tg6', 'tgd', 'tgf', 'tu4', 'tu6', 'tud', 'tuf', 't9r',
       't9x', 't9z', 'tdp', 'tdr', 'tdx', 'tdz', 'tep', 'ter', 'tex',
       'tez', 'tsp', 'tsr', 'tsx', 'tsz', 'ttp', 'ttr', 'ttx', 'tf1',
       'tf3', 'tf9', 'tfc', 'tg1', 'tg3', 'tg9', 'tgc', 'tu1', 'tu3',
       'tu9', 'tuc', 'tv1', 'tv3'], dtype=object)

In [32]:
unique_values_count.sort()
unique_values_count

array(['t9q', 't9r', 't9v', 't9w', 't9x', 't9y', 't9z', 'tc8', 'tcb',
       'tdj', 'tdk', 'tdm', 'tdn', 'tdp', 'tdq', 'tdr', 'tds', 'tdt',
       'tdu', 'tdv', 'tdw', 'tdx', 'tdy', 'tdz', 'te5', 'te7', 'te9',
       'tec', 'ted', 'tee', 'tef', 'teg', 'teh', 'tej', 'tek', 'tem',
       'ten', 'tep', 'teq', 'ter', 'tes', 'tet', 'teu', 'tev', 'tew',
       'tex', 'tey', 'tez', 'tf0', 'tf1', 'tf2', 'tf3', 'tf8', 'tf9',
       'tfb', 'tfc', 'tff', 'tg0', 'tg1', 'tg2', 'tg3', 'tg4', 'tg5',
       'tg6', 'tg7', 'tg8', 'tg9', 'tgb', 'tgc', 'tgd', 'tge', 'tgf',
       'tgg', 'tgk', 'tgs', 'tgt', 'tgu', 'tgv', 'tgy', 'tgz', 'ts0',
       'ts1', 'ts4', 'ts5', 'ts6', 'ts7', 'tsd', 'tse', 'tsf', 'tsg',
       'tsh', 'tsj', 'tsk', 'tsm', 'tsn', 'tsp', 'tsq', 'tsr', 'tss',
       'tst', 'tsu', 'tsv', 'tsw', 'tsx', 'tsy', 'tsz', 'tt5', 'tth',
       'ttj', 'ttk', 'ttm', 'ttn', 'ttp', 'ttq', 'ttr', 'ttt', 'ttv',
       'ttw', 'ttx', 'tty', 'tu0', 'tu1', 'tu2', 'tu3', 'tu4', 'tu5',
       'tu6', 'tu7', 'tu8', 'tu9', 'tub', 'tuc', 'tud', 'tue', 'tuf',
       'tug', 'tuh', 'tuj', 'tuk', 'tum', 'tun', 'tup', 'tuq', 'tur',
       'tus', 'tut', 'tuu', 'tuw', 'tux', 'tuy', 'tuz', 'tv0', 'tv1',
       'tv2', 'tv3', 'w41', 'w44', 'w5f', 'wh0', 'wh1', 'wh2', 'wh3',
       'wh4', 'wh6', 'wh7', 'wh8', 'wh9', 'whb', 'whc', 'whd', 'whe',
       'whf', 'whg', 'whu', 'wjh'], dtype=object)

In [ ]:
import pandas as pd
from sqlalchemy.engine import create_engine

# Replace with your actual schema name
output_schema_name = "presence_data"
bucketized_table = f"dedicated.{output_schema_name}.bucketized_table"

# Partition size
partition_size = 5000

# Data preparation
df['partition_key'] = (df.index // partition_size) + 1
df = df.astype({
    'start_geohash_user': 'int',
    'end_geohash_user': 'int',
    'trip_count': 'int',
    'partition_key': 'int'
})

# Create the SQL engine
con = create_engine(f"trino://localhost:9090/dedicated/{output_schema_name}")

# Define the SQL query to create the bucketized and partitioned table
create_table_query = f"""
CREATE TABLE {bucketized_table} (
    start_geohash5 varchar,
    start_geohash_user bigint,
    end_geohash5 varchar,
    end_geohash_user bigint,
    trip_count bigint,
    m_duration_min double,
    mdn_duration_min double,
    sd_duration_min double,
    m_length_m double,
    mdn_length_m double,
    sd_length_m double,
    partition_key bigint
)
WITH (
  partitioned_by = ARRAY['partition_key'],
  bucketed_by = ARRAY['end_geohash5'],
  bucket_count = 5
)
"""

# Execute the create table query
with con.connect() as connection:
    connection.execute(create_table_query)

# Function to insert data in chunks
def insert_data_in_chunks(df, table_name, engine, chunk_size=5000):
    for start in range(0, len(df), chunk_size):
        chunk = df.iloc[start:start + chunk_size]
        chunk.to_sql(table_name, engine, index=False, if_exists='append', method='multi')

# Insert data into the bucketized table
insert_data_in_chunks(df, "bucketized_table", con, chunk_size)

country_code = 'id'
date_str = "20190101"
final_bucketized_table = f"od_{country_code.lower()}_{event_date}_agg3"

# Rename the table to the final name based on the date range and country code
rename_table_query = f"""
ALTER TABLE "bucketized_table" RENAME TO "{final_bucketized_table}"
"""

# Execute the rename table query
with con.connect() as connection:
    connection.execute(rename_table_query)

## Read and write

1. if_exists='fail': The method will raise a ValueError if the table already exists. This is the default behavior.
2. if_exists='replace': If the table exists, it will be dropped and replaced with the new data.
3. if_exists='append': If the table exists, the new data will be inserted into the existing table. If the table does not exist, it will be created.